.steps-container {
  position: relative;    
  width: 100%;
  height: 300px;         
  overflow: hidden;     
  background: none;
  
}


.step-item {
  position: absolute;
  height: 50px; 
}


.day-label {
  border-radius: 20px; 
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #FFAC19; 
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}





.flame-img {
  position: absolute;
  
  width: 70px; 
  height: 70px; 
  bottom: 140px; 
  right: 90px;
  transition: opacity 0.9s ease-in-out;
}

.flame-img.hide {
  opacity: 0;
}
